
@model IEnumerable<ExamDomain.Model.Question>

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeToRespond)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeToRespond)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>