@model IEnumerable<ExamDomain.Model.ExamViewModel>

@{
    ViewBag.Title = "Exams";
}

<h2>Exams</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exam.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam.Course.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam.Place)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.Place)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Exam.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Exam.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Exam.ID })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-default" })
</p>